body {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  background-color: black;
  color: white;
}
h1 {
  font-family: "Faster One", cursive;
  font-size: 3rem;
  color: yellow;
}

h2 {
  font-family: "Creepster", cursive;
}
a {
  color: white;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Creepster', cursive;
font-family: 'Faster One', cursive;
font-family: 'Butcherman', cursive;
font-family: 'Press Start 2P', cursive; */
